  <div class="main-contents">
    <div class="main-title">
        議事録
    </div>
    <div class="main-name">
    <% @meetings.each do |meeting| %>
    <div class="meeting">
    <%= link_to meeting.title, meeting_contents_path(meeting) %>
      </div>
    <% end %>

    </div>
        <div class="main-name">
      ーーーーーーーーーー
    </div>
    <div class="main-name">
      ーーーーーーーーーー
    </div>

  </div>