  <div class="main-contents">
    <div class="main-title">
        議事録
    </div>
    <div class="main-name">
    <%= link_to "議事録1",contents_path %>

    </div>
        <div class="main-name">
      ーーーーーーーーーー
    </div>
    <div class="main-name">
      ーーーーーーーーーー
    </div>

  </div>