<div class="wrapper">

  <div class="header">
    <%= render "shared/header" %>
  </div>


    <%# <div class="side">
      <%= render "side_bar"%>
  <%# </div> %>
    <div class="main">
      <%= render "main_meeting"%>
    </div>
</div>





