<div class="wrapper">

  <div class="header">
    <%= render "shared/header" %>
  </div>


    <%# <div class="side">
      <%= render "side_bar"%>
  <%# </div> %>
    <div class="main">
      <%= render "main_meeting"%>
    </div>
    
        <h1>TogetherJSサンプル</h1>
<button onclick="TogetherJS(this); return false;">TogetherJSを起動！</button>
    <script src=”js/together.js”></script>
      <script>
          TogetherJS( this );
              // 音声ボタン非表示
    var TogetherJSConfig_disableWebRTC = true;
          // 初動のポップアップを非表示
      var TogetherJSConfig_suppressInvite = true;
                // 参加確認のポップアップを非表示にして自動接続
      var TogetherJSConfig_suppressJoinConfirmation = true;
      </script>
      
</div>





