.contents-header {
  height: 60px;
  position: fixed;
  z-index: 2;
}

.contents-middle {
  display: flex;
  height: 50vw;


}

.side-bar-left {

  overflow: auto;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  background-color: rgb(1, 145, 113);
  color: white;


}

.main-contents {
  background-color:rgb(211 226 215 / 80%);
  background-blend-mode:lighten;
  overflow: auto;
  background: #02463d;
  border: 4px solid rgb(129, 78, 2);
  box-shadow: 2px 2px 2px 2px #020 inset;

  color: white;

}

.side-bar-right {
  background-color: lavender;
  overflow: auto;
  position: fixed;
  padding-top: 10%;
  background-color: rgb(1, 145, 113);
  color: white;
}

.bottom-form {
  height: 20px;
}

.bottom-contents {
  padding-top: 5%;

}

div[data-check="true"] {
  background: #585555d0;
}

#content {
  padding-left: 10px;
  margin-top: 20px;
  margin-left: 240px;
}

#form {
  height: 80px;
  background-color:  rgb(16, 83, 60);
  color: white;
}

.form-image {
  font-size: 10px;
  padding: 5px;
  width: 50px;
  height: 35px;
  margin: 10px 10px;
}

.hidden {
  display: none;
}

.image-file {
}

.content-all {
  display: flex;
}

.content_post {
  display: flex;
  justify-content: space-between;
}

.post-name{

}

.post-content {
  margin-left: 20px;
}

.timer {
  margin-top: 200px;
}

.post-right {
  display: flex;
}

.post-left {
  display: flex;
}

