.wrapper {
  display: flex;
}

/* .side {
  background-color: darkcyan;
  width: 10vw;
  height: 100vh;
} */
.main {
  background-color: rgb(198, 197, 216);
  width: 100vw;
  height: 100vh;
  color :black;
  padding-top: 60px;
}

.main-title {
  font-size: 1em;
  justify-content: center;
}


.meeting-title {
  font-size: 2em;
  justify-content: center;
  padding-left: 180px;
  margin: 50px;
  border-bottom:solid 2px slategray;
}